@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:600,700');

html {
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.app {
  height: 95vh;
  position: relative;
  max-width: 700px;
  margin: 10px auto;
  box-shadow: 10px 10px 40px 23px rgba(224, 224, 224, 1);
  border-radius: 12px;

  .header {
    max-height: 12vh;
    display: flex;
    align-items: center;
    padding: 10px 25px;
    color: #e8ecfd;
    background-image:
      linear-gradient(
        to right,
        #5b7cf9,
        #5274f4,
        #4a6bef,
        #4163e9,
        #375be4
      );
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;

    &__icon {
      max-width: 50px;
      height: auto;
      opacity: 0.7;
    }

    &__title {
      margin-left: auto;
      font-size: 25px;
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 4.5px;

      span {
        display: block;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 1.5px;
      }
    }
  }

  .list {
    display: flex;
    flex-direction: column;
    max-height: 83vh;
    padding: 20px 0 40px;
    overflow-y: scroll;

    &__person {
      display: flex;
      min-height: 80px;
      align-items: center;
      padding: 10px 15px;
      margin: 10px 15px;
      border-radius: 4px;
      box-shadow: 0 2px 18px 7px rgba(189, 189, 189, 0.21);
      transition: all 0.25s linear;
      animation: fadeIn 0.5s 0.1s both;

      .person__image {
        position: relative;
        max-width: 77px;
        height: auto;
        margin-right: 22px;
        border: 10px solid #f5f6fa;
        border-radius: 50%;
      }

      .person__name {
        font-size: 23px;
        color: #979cb0;
      }

      .person__rating {
        margin-left: auto;
        display: flex;
        flex-direction: column;
      }

      .person__rating-value {
        font-size: 26px;
        font-weight: 700;
        color: #4cd5af;
      }

      .person__rating-stats {
        display: flex;
        justify-content: space-between;
        font-size: 12px;

        .delta-value {
          &__up {
            color: #45d984;
          }

          &__down {
            color: #ff6b6d;
          }
        }
      }

      &:hover {
        transform: scale(1.02);
      }
    }

    &::-webkit-scrollbar {
      width: 12px;
      cursor: pointer;
    }

    &::-webkit-scrollbar-track {
      background-color: #fefefe;
      border-radius: 12px;
    }

    &::-webkit-scrollbar-thumb {
      height: 68px;
      border-radius: 14px;
      background-color: #f1f2f6;
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 430px) {
  .app {
    max-width: 320px;

    .list__person {
      padding: 4px 8px;

      .person__image {
        max-width: 56px;
        border-width: 4px;
      }

      .person__name {
        font-size: 16px;
      }

      .person__rating-value {
        font-size: 20px;
      }

      .person__rating-stats {
        font-size: 9px;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
}
